html {
  	font-family: 'Roboto Mono', monospace; 
  	font-size: 15px; 
  	color: black;
    width: 100%;
  	height: 100%;
    
}

body {
    margin: 10px;
    padding: 10px;
    background-color: white;
}

.marquee-text {
    position: relative;
    padding: 10px;

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
/*    text-align: center;
*/    min-height: 100vh;
/*    margin: 10px;
*/}

.ascii {
    flex: 0.5;
    width: 100%;
    max-width: 90%;
    padding: 10px;
    /*    border: 1px solid black;
*/
}

.info, .storage, .home, .enter {
    flex: 0.5;
    width: 100%;
    max-width: 90%;
    padding: 10px;
    /*    border: 1px solid black;
*/
}



/*//----------------------------------------------
// links
//----------------------------------------------*/
a {
	color: black;
    font-style: italic;
    text-decoration: underline;
}

a:hover {
    color: red;
}

a:link:hover {
    color: red;
    font-style: italic;
    text-decoration: underline;
}

a:local-link:hover {
    color: blue;
    font-style: italic;
    text-decoration: underline;
}

a:visited:hover {
    color: red;
    font-style: italic;
    text-decoration: underline;
}

a:visited {
	color:  black;
    font-style: italic;
}

.hidden {
    display: none;
}

.blinking-link {
    text-decoration: underline;
    text-decoration-color: black;
    animation: blink 2s infinite;
}



/*//----------------------------------------------
// media queries
//----------------------------------------------*/
@media (max-width: 800px) {

    body {
	    font-size: 50%;
    }

    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ascii {
        flex: none;
        width: 100%;
        max-width: 90%;

        /*    border: 1px solid black;
*/
    }

    .info, .storage {
        flex: none;
        width: 100%;
        max-width: 90%;
        /*    border: 1px solid black;
*/
    }   

}


/*//----------------------------------------------
// animation
//----------------------------------------------
*/
@keyframes scroll {
    0% {
        transform: translateX(0); /* Start outside on the right */
    }

    100% {
        transform: translateX(-100%); /* End outside on the left */
    }
}

@keyframes blink {
    0% {
        color: black;
    }

    50% {
        color: blue;
    }
    100% {
        color: black;
    }
}

