html {
  	font-family: 'Roboto Mono', monospace;
}

a:link {
	color: black;
}
a:visited {
	color:  black;
}

@media (max-width: 800px) {

body {
	font-size: 50%;

}
div {
}
.table {
	width: 100%;
}
#start {
	top: 4% !important;
	left: 5% !important;
}
#end {
	left: 5% !important;
	top: 24% !important;
}
#end6 {
	top: 35% !important;
	left: 5% !important;
}

#end2{
	left: 5% !important;
	top:13%;
}
#end3{
	left: 5% !important;
	top:46% !important;
}
#end4{
    left: 5% !important;
	top: 54% !important;
}
#end5{
    left: 5% !important;
	top: 73% !important;
}

}



.div {
	width: fit-content;
    border: 1.5px solid black;
    padding: 10px;
    word-wrap: break-word;
}

.table {
	border: none;
	width: fit-content;
}

.inline {
	display: inline;
    border: 1.5px solid black;
    padding: 10px;
	line-height:45px;
	word-wrap: break-word;
}

#start {
	background: black;
	color: white;
	display: block;
	position: absolute;
    left: 45%;
    top: 5%;
}

#end {
	display: block;
	width: 400px;
	position: absolute;
    left: 5%;
    top: 20%;
	overflow: hidden;
 }

#end2 {
	display: block;
	position: absolute;
	top: 15%;
    left: 75%;
	overflow: hidden;
 }

#end3 {
 	background: black;
	color: white;
	display: block;
	position: absolute;
    left: 45%;
    top: 45%;
	overflow: hidden;
 }

#end4 {
	display: block;
	position: absolute;
    left: 10%;
    top: 70%;
	overflow: hidden;
}

#end5 {
	display: block;
	position: absolute;
    left: 30%;
    top: 80%;
	overflow: hidden;
}

#end6 {
	display: block;
	position: absolute;
    left: 10%;
    top: 35%;
	width: 400px;
	overflow: hidden;
}


