html {
  	font-family: 'Roboto Mono', monospace;
  	margin: 30px;
}

div {
	width: fit-content;
    border: 1.5px solid black;
    padding: 10px;
    word-wrap: break-word;
}

a:link {
	color: black;
}
a:visited {
	color:  black;
}

.table {
	border: none;
}

.inline {
	display: inline;
	line-height:45px;
}

#start {
	background: black;
	color: white;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#end {
    width: 33%;
    margin-left: 3%;
 }
#end6 {
    width: 33%;
  	margin-left: 3%;
 }

#end2 {
    margin-left: 75%;
 }

#end3 {
 	background: black;
	color: white;
  	display: block;
  	margin-left: 55%;
    margin-top: auto;
    margin-bottom: auto;
 }

#end4 {
  	margin-left: 10%;
 }

#end5 {
  	margin-left: 5%;
 }

